@import './components/css/Navbar.css';
@import './components/css/Slide1.css';
@import './components/css/Slide2.css';
@import './components/css/Slide3.css';
@import './components/css/Slide4.css';
@import './components/css/Page-title.css';

body {
	background: #f8f8f8;
	margin: 0;
	box-sizing: border-box;
}
